.input-group.control-file-select > input.form-control
  margin-top: 0px

.input-group.control-file-select > .input-group-btn > .btn
  margin: 0px

.control-notes
  font-style italic
  font-size 0.9em
  padding-bottom 2px

.output-name
  padding-top 5px
  font-weight bold

.output-notes
  font-style italic
  font-size 0.9em
  padding-bottom 2px

.btn
  margin 3px

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child)
  margin-left 0px

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle)
  margin-right 0px

label
  margin-bottom 0
  margin-top 5px

.analysis
  .task-desc
    margin 5px 0 5px 0
    border-top 2px solid rgba(0,0,0,0.5)

  .task-notes
    font-style italic
    padding-bottom 2px

.custom-spinner
  div
    background rgb(80, 80, 80)

.custom-spinner
  .sk-cube
    animation sk-scaleDelay 5.0s infinite ease-in-out

  .sk-cube:nth-child(1)
    -webkit-animation-delay 1.2s
    animation-delay 1.2s

  .sk-cube:nth-child(2)
    -webkit-animation-delay 1.3s
    animation-delay 1.3s

  .sk-cube:nth-child(3)
    -webkit-animation-delay 1.4s
    animation-delay 1.4s

  .sk-cube:nth-child(4)
    -webkit-animation-delay 1.1s
    animation-delay 1.1s

  .sk-cube:nth-child(5)
    -webkit-animation-delay 1.2s
    animation-delay 1.2s

  .sk-cube:nth-child(6)
    -webkit-animation-delay 1.3s
    animation-delay 1.3s

  .sk-cube:nth-child(7)
    -webkit-animation-delay 1.0s
    animation-delay 1.0s

  .sk-cube:nth-child(8)
    -webkit-animation-delay 1.1s
    animation-delay 1.1s

  .sk-cube:nth-child(9)
    -webkit-animation-delay 1.2s
    animation-delay 1.2s

@keyframes sk-scaleDelay
  0%, 20%, 100%
    transform scale3D(1.0, 1.0, 1.0)
  10%
    transform scale3D(0.0, 0.0, 1.0)

