.input-group.control-file-select > input.form-control
  margin-top: 0px

.input-group.control-file-select > .input-group-btn > .btn
  margin: 0px

.control-notes
  font-style italic
  font-size 0.9em
  padding-bottom 2px

.output-name
  padding-top 5px
  font-weight bold

.output-notes
  font-style italic
  font-size 0.9em
  padding-bottom 2px

.btn
  margin 3px

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child)
  margin-left 0px

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle)
  margin-right 0px

label
  margin-bottom 0
  margin-top 5px

.analysis
  .task-desc
    margin 5px 0 5px 0
    border-top 2px solid rgba(0,0,0,0.5)

  .task-notes
    font-style italic
    padding-bottom 2px
