.g-upload-entry-list
  margin: 0
  padding: 0
  list-style-type: none
  box-sizing: border-box

.g-upload-entry
  border-top: 1px solid #efefef
  box-sizing: border-box
  padding: 4px 5px 3px
  display: list-item
  font-family: Droid Sans, sans-serif
  vertical-align: middle

button.g-upload-entry-button
  display: inline-block
  font-size: 8px

h4.g-upload-entry-name
  display: inline-block
  font-size: 15px
  min-width: 200px
  max-width: 200px
  overflow: hidden
  word-wrap: normal
  vertical-align: middle
  margin: 0

h4.g-upload-entry-type
  display: inline-block
  font-size: 12px
  margin: 0

input.g-upload-entry-tag
  border-radius: 5px
  display: inline-block
  float: right
  font-size: 14px
  height: 25px
  white-space: nowrap
  width: 150px

h4.g-upload-entry-tag
  border: 1px solid lightgray
  border-radius: 5px
  display: inline-block
  float: right
  font-size: 14px
  height: 25px
  margin: 0px
  margin-top: -2px
  overflow-x: hidden
  padding-top: 4px
  padding-left: 3px
  white-space: nowrap
  width: 150px

h4.g-upload-form-title
  text-align: center

div.g-upload-form-subtitle
  text-align: center

div.upload-done
  color: rgb(80, 80, 80)
  font-size: 25px
  margin: 30px
  text-align: center

